ModelScoutAPI/bin/*
ModelScoutAPI/obj/*

TgInterface/bin/*
TgInterface/obj/*

ModelScoutBackend/bin/*
ModelScoutBackend/obj/*

TelegramBotBase/bin/*
TelegramBotBase/obj/*

appsettings.json

logs/

publish/